---
layout: default
title: RlSpain
---

<div class="card">
  <div class="card-header text-center">
    <i class="fas fa-trophy mr-3"/></i>Ranking 3v3 Standard Spain<i class="fas fa-trophy ml-3"/></i>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12 mb-3 rl-list-column">
        <ul class="list-group list-group-flush rl-item-list">
          {% assign show = 100 | minus: 1 %}
          {% for p in (0..show) %}
            {% assign player = site.data.players[p] %}
            {% include list-item.html id=player.id name=player.name rank=p %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-12">
        <div class="tab-content" id="v-pills-tabContent">
          {% for player in site.data.players limit:100 %}
            {% include list-content.html id=player.id %}
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
  <div class="card-footer text-muted text-center">
    made with <i class="fa fa-heart"></i> by <a href="https://neko250.github.io" target="_blank">neko250</a> &amp; <a href="https://twitter.com/salve_rl" target="_blank">salve</a>
  </div>
</div>
